<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starexx Labs</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <h1>Starexx Labs</h1>
    <table>
        <thead>
            <tr>
                <th>Uploads</th>
            </tr>
        </thead>
        <tbody>
            <% files.forEach(file => { %>
                <tr onclick="window.location.href='/app/<%= encodeURIComponent(file.name) %>'">
                    <td><%= file.number %></td>
                    <td><a href="/app/<%= encodeURIComponent(file.name) %>" class="filename" data-name="<%= file.name.replace(/\.[^/.]+$/, '') %>"></a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>

</body>
</html>
