<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Manager</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>File List</h1>
    <table>
        <tr>
            <th>#</th>
            <th>File Name</th>
        </tr>
        <% files.forEach(file => { %>
            <tr>
                <td><%= file.number %></td>
                <td><a href="/app/<%= encodeURIComponent(file.name) %>"><%= file.name %></a></td>
            </tr>
        <% }); %>
    </table>
    <script src="/script.js"></script>
</body>
</html>
